# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Nacos
NACOS_SERVER_ADDR=localhost:8848

# JWT
JWT_SECRET=mrb-meeting-room-booking-jwt-secret-key-2024

# RocketMQ
ROCKETMQ_NAME_SERVER=localhost:9876
